.die {
    fill:#ffffff;
    stroke-width: 3;
    stroke: #000000;
}

.pip {
    stroke: #000000;
    fill: #000000;
    visibility: hidden;
}

.button {
    /* text-align: center; */
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0; */
}
