
body {
    font-family: Helvetica, Arial;
    margin: 20px;
}


.button {
    background-color: darkblue ;
    color: gold;
    cursor: pointer;
    font-family: Courier;
    font-size: 12pt;
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
    text-decoration:none;
}

/* When hovering over button, BR color turns white and blue letters */
.button:hover {
    background-color: white;
    color: #006699;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
}

.box1 {
    background-color: blue;
    border: solid 2px rgb(32, 20, 48);
    color: yellow;
    font-family: Courier;
    font-size: 16pt;
    padding: 10px;
    width: 600px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    
  }

.centerText {
    text-align: center;
}

/* sets things into center of page (text) */
.menu {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    
  }

    td, th {
    padding: 5px 10px 5px 10px;
    border-width: 1px;

  }

  .background {
    background: url(https://cdn.abcotvs.com/dip/images/24996_kgo-windows-bliss-040714-1280.jpg?w=1600) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

  .coyote {
    position: static;
    left: 30px;

  }

  .roadrunner {
    position: static;
    right: 30px;
  }